<div id="<%= dom_id shop_admin %>">
  <div>
    <strong>Shop:</strong>
    <%= shop_admin.shop_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= shop_admin.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= shop_admin.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= shop_admin.phone %>
  </div>


  <div>
    <strong>Is active:</strong>
    <%= shop_admin.is_active %>
  </div>

</div>
