<div id="<%= dom_id tier %>">
  <div>
    <strong>Name:</strong>
    <%= tier.name %>
  </div>

  <div>
    <strong>Points required:</strong>
    <%= tier.points_required %>
  </div>

  <div>
    <strong>Benefits:</strong>
    <%= tier.benefits %>
  </div>

  <div>
    <strong>Icon url:</strong>
    <%= tier.icon_url %>
  </div>

  <div>
    <strong>Color hex:</strong>
    <%= tier.color_hex %>
  </div>

</div>
