<div id="<%= dom_id qr %>">
  <div>
    <strong>User:</strong>
    <%= qr.user_id %>
  </div>

  <div>
    <strong>Shop:</strong>
    <%= qr.shop_id %>
  </div>

  <div>
    <strong>Qr code data:</strong>
    <%= qr.qr_code_data %>
  </div>

  <div>
    <strong>Expires at:</strong>
    <%= qr.expires_at %>
  </div>

</div>
