<div id="<%= dom_id shop %>">
  <div>
    <strong>Mall:</strong>
    <%= shop.mall_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= shop.name %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= shop.category_id %>
  </div>

  <div>
    <strong>Logo url:</strong>
    <%= shop.logo_url %>
  </div>

  <div>
    <strong>Cover image url:</strong>
    <%= shop.cover_image_url %>
  </div>

  <div>
    <strong>Bio:</strong>
    <%= shop.bio %>
  </div>

  <div>
    <strong>Website url:</strong>
    <%= shop.website_url %>
  </div>

  <div>
    <strong>Social links:</strong>
    <%= shop.social_links %>
  </div>

  <div>
    <strong>Is active:</strong>
    <%= shop.is_active %>
  </div>

</div>
