<div id="<%= dom_id mall_admin %>">
  <div>
    <strong>Mall:</strong>
    <%= mall_admin.mall_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= mall_admin.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= mall_admin.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= mall_admin.phone %>
  </div>

  <div>
    <strong>Password hash:</strong>
    <%= mall_admin.password_hash %>
  </div>

</div>
