<p style="color: green"><%= notice %></p>

<%= render @user_points_balance %>

<div>
  <%= link_to "Edit this user points balance", edit_user_points_balance_path(@user_points_balance) %> |
  <%= link_to "Back to user points balances", user_points_balances_path %>

  <%= button_to "Destroy this user points balance", @user_points_balance, method: :delete %>
</div>
