<div id="<%= dom_id stamp %>">
  <div>
    <strong>Shop:</strong>
    <%= stamp.shop_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= stamp.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= stamp.description %>
  </div>

  <div>
    <strong>Image url:</strong>
    <%= stamp.image_url %>
  </div>

  <div>
    <strong>Stamp icon:</strong>
    <span class="material-icons"><%= stamp.stamp_icon_url %></span>
    Icons.<%= stamp.stamp_icon_url %>
  </div>

  <div>
    <strong>Stamps required:</strong>
    <%= stamp.stamps_required %>
  </div>

  <div>
    <strong>Reward type:</strong>
    <%= stamp.reward_type %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= stamp.is_active %>
  </div>

  <div>
    <strong>Start date:</strong>
    <%= stamp.start_date %>
  </div>

  <div>
    <strong>End date:</strong>
    <%= stamp.end_date %>
  </div>

</div>
