<div id="<%= dom_id user %>">
  <div>
    <strong>Firstname:</strong>
    <%= user.firstname %>
  </div>

  <div>
    <strong>Lastname:</strong>
    <%= user.lastname %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= user.phone %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= user.email %>
  </div>

  <div>
    <strong>Password hash:</strong>
    <%= user.password_hash %>
  </div>

  <div>
    <strong>Gender:</strong>
    <%= user.gender %>
  </div>

  <div>
    <strong>Profile image url:</strong>
    <%= user.profile_image_url %>
  </div>

  <div>
    <strong>Tier:</strong>
    <%= user.tier_id %>
  </div>

</div>
