<div id="<%= dom_id stamp_transaction %>">
  <div>
    <strong>User:</strong>
    <%= stamp_transaction.user_id %>
  </div>

  <div>
    <strong>Shop:</strong>
    <%= stamp_transaction.shop_id %>
  </div>

  <div>
    <strong>Stamp:</strong>
    <%= stamp_transaction.stamp_id %>
  </div>

  <div>
    <strong>Transaction type:</strong>
    <%= stamp_transaction.transaction_type %>
  </div>

  <div>
    <strong>Stamps count:</strong>
    <%= stamp_transaction.stamps_count %>
  </div>

  <div>
    <strong>Receipt:</strong>
    <%= stamp_transaction.receipt_id %>
  </div>

</div>
