<p style="color: green"><%= notice %></p>

<%= render @stamp_transaction %>

<div>
  <% if can? :update, @stamp_transaction %>
    <%= link_to "Edit this stamp transaction", edit_stamp_transaction_path(@stamp_transaction) %> |
  <% end %>
  <%= link_to "Back to stamp transactions", stamp_transactions_path %>

  <% if can? :destroy, @stamp_transaction %>
    <%= button_to "Destroy this stamp transaction", @stamp_transaction, method: :delete %>
  <% end %>
</div>
