<p style="color: green"><%= notice %></p>

<%= render @stamp_transaction %>

<div>
  <%= link_to "Edit this stamp transaction", edit_stamp_transaction_path(@stamp_transaction) %> |
  <%= link_to "Back to stamp transactions", stamp_transactions_path %>

  <%= button_to "Destroy this stamp transaction", @stamp_transaction, method: :delete %>
</div>
