<div id="<%= dom_id offer_redemption %>">
  <div>
    <strong>User:</strong>
    <%= offer_redemption.user_id %>
  </div>

  <div>
    <strong>Offer:</strong>
    <%= offer_redemption.offer_id %>
  </div>

  <div>
    <strong>Shop:</strong>
    <%= offer_redemption.shop_id %>
  </div>

  <div>
    <strong>Redemption ref:</strong>
    <%= offer_redemption.redemption_ref %>
  </div>

</div>
