<div id="<%= dom_id earn_transaction %>">
  <div>
    <strong>User:</strong>
    <%= earn_transaction.user_id %>
  </div>

  <div>
    <strong>Shop:</strong>
    <%= earn_transaction.shop_id %>
  </div>

  <div>
    <strong>Purchase amount:</strong>
    <%= earn_transaction.purchase_amount %>
  </div>

  <div>
    <strong>Points earned:</strong>
    <%= earn_transaction.points_earned %>
  </div>

  <div>
    <strong>Transaction ref:</strong>
    <%= earn_transaction.transaction_ref %>
  </div>

</div>
