<%= form_with(model: earn_transaction) do |form| %>
  <% if earn_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(earn_transaction.errors.count, "error") %> prohibited this earn_transaction from being saved:</h2>

      <ul>
        <% earn_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :shop_id, style: "display: block" %>
    <%= form.text_field :shop_id %>
  </div>

  <div>
    <%= form.label :purchase_amount, style: "display: block" %>
    <%= form.text_field :purchase_amount %>
  </div>

  <div>
    <%= form.label :points_earned, style: "display: block" %>
    <%= form.number_field :points_earned %>
  </div>

  <div>
    <%= form.label :transaction_ref, style: "display: block" %>
    <%= form.text_field :transaction_ref %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
