<p style="color: green"><%= notice %></p>

<%= render @earn_transaction %>

<div>
  <%= link_to "Edit this earn transaction", edit_earn_transaction_path(@earn_transaction) %> |
  <%= link_to "Back to earn transactions", earn_transactions_path %>

  <%= button_to "Destroy this earn transaction", @earn_transaction, method: :delete %>
</div>
