<div id="<%= dom_id offer %>">
  <div>
    <strong>Shop:</strong>
    <%= offer.shop_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= offer.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= offer.description %>
  </div>

  <div>
    <strong>Image url:</strong>
    <%= offer.image_url %>
  </div>

  <div>
    <strong>Reward type:</strong>
    <%= offer.reward_type %>
  </div>

  <div>
    <strong>Reward value:</strong>
    <%= offer.reward_value %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= offer.active %>
  </div>

  <div>
    <strong>Start date:</strong>
    <%= offer.start_date %>
  </div>

  <div>
    <strong>End date:</strong>
    <%= offer.end_date %>
  </div>

</div>
