<div id="<%= dom_id redeem_transaction %>">
  <div>
    <strong>User:</strong>
    <%= redeem_transaction.user_id %>
  </div>

  <div>
    <strong>Shop:</strong>
    <%= redeem_transaction.shop_id %>
  </div>

  <div>
    <strong>Points used:</strong>
    <%= redeem_transaction.points_used %>
  </div>

  <div>
    <strong>Discount value:</strong>
    <%= redeem_transaction.discount_value %>
  </div>

  <div>
    <strong>Verification code:</strong>
    <%= redeem_transaction.verification_code %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= redeem_transaction.status %>
  </div>

  <div>
    <strong>Completed at:</strong>
    <%= redeem_transaction.completed_at %>
  </div>

</div>
