<div id="<%= dom_id user_stamp_card %>">
  <div>
    <strong>User:</strong>
    <%= user_stamp_card.user_id %>
  </div>

  <div>
    <strong>Stamp:</strong>
    <%= user_stamp_card.stamp_id %>
  </div>

  <div>
    <strong>Stamps counter:</strong>
    <%= user_stamp_card.stamps_counter %>
  </div>

  <div>
    <strong>Is completed:</strong>
    <%= user_stamp_card.is_completed %>
  </div>

  <div>
    <strong>Last transaction:</strong>
    <%= user_stamp_card.last_transaction %>
  </div>

</div>
