<div id="<%= dom_id category %>">
  <div>
    <strong>Category name:</strong>
    <%= category.category_name %>
  </div>

  <div>
    <strong>Icon url:</strong>
    <%= category.icon_url %>
  </div>

  <div>
    <strong>Display order:</strong>
    <%= category.display_order %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= category.description %>
  </div>

</div>
