<div id="<%= dom_id mall %>">
  <div>
    <strong>Mall name:</strong>
    <%= mall.mall_name %>
  </div>

  <div>
    <strong>Location:</strong>
    <%= mall.location %>
  </div>

  <div>
    <strong>Logo url:</strong>
    <%= mall.logo_url %>
  </div>

  <div>
    <strong>Cover image url:</strong>
    <%= mall.cover_image_url %>
  </div>

</div>
