<div id="<%= dom_id receipt %>">
  <div>
    <strong>Receipt path:</strong>
    <%= receipt.receipt_path %>
  </div>

  <div>
    <strong>Shop:</strong>
    <%= receipt.shop_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= receipt.user_id %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= receipt.amount %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= receipt.status %>
  </div>

  <div>
    <strong>Receipt details:</strong>
    <%= receipt.receipt_details %>
  </div>

</div>
